.selfDescriprion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 327px;
    height: 412px;
}

.selfTextDescription {
    width: 327px;
    height: 162px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.descriptionHeadline {
    width: 327px;
    height: 26px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 5px;
    color: #333136;
}

.descriptionParagraph {
    width: 327px;
    height: 104px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333136;
}