.webDesign {
  margin-bottom: 24px;
  position: relative;
}

.designImage {
  border: 0px;
  border-radius: 15px;
  background: #000000;
  mix-blend-mode: normal;
}

.innerTextWeb,
.innerTextApp,
.innerTextGraphic {
  position: absolute;
  top: 90px;
  left: 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 215px;
  height: 71px;
}

.innerTextGraphic {
  left: 55px;
}

.designType,
.designTypeGraph {
  text-align: center;
  width: 215px;
  height: 36px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 1.4px;
  color: #ffffff;
}

.designTypeGraph {
  width: 255px;
}

.linkText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 197px;
  height: 22px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}
