.designPortfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
  min-width: 327px;
  height: auto;
}

.selfDescription {
  margin-top: 96px;
  min-width: 327px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 1396px;
}
